.r2.bg-1 {
    background-image: url('../images/noise.png'), url('../images/backgrounds/1.jpg.webp');
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover;
}

.r2 .navbar .navbar-header {
    width: unset;
}

.r2 .navbar.navbar-fixed-top{
    z-index: 10;
}

.r2 .navbar .navbar-header .navbar-brand {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-left: unset;
    background: unset;
}

.r2 .navbar.navbar-transparent-black {
    background-color: rgba(0, 0, 0, 0.3);
}

.r2 .navbar .navbar-nav {
    margin: 0;
}

.r2 .navbar .navbar-nav.quick-actions {
    position: absolute;
    top: 0;
    right: 0;
}

.r2 .navbar .navbar-nav.quick-actions .user .profile-photo img {
    width: 35px;
    margin-top: 5px;
}

.r2 .navbar .navbar-nav.quick-actions .user .profile-photo {
    display: inline-block;
    width: unset;
    vertical-align: unset;
    margin-left: unset;
}

.r2 .navbar .navbar-nav.quick-actions .user > a {
    font-weight: bold;
}

.r2 .dropdown-menu.uploads {
    left: -40px;
}
.r2 li.dropdown ul.dropdown-menu.uploads:before {
    left: 52px;
    border-bottom-color: #535d74;
}

.r2 .dropdown-menu.notifications {
    left: -55px;
}
.r2 li.dropdown ul.dropdown-menu.notifications:before {
    left: 68px;
    border-bottom-color: #535d74;
}

.r2 li.dropdown ul.dropdown-menu.wide > li h1,
.r2 li.dropdown ul.dropdown-menu.wider > li h1 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    background-color: #535d74;
}
