.r2 {
    .bg-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        &.scale-default {
            transform: scale(0.5); // 0.55
            transform-origin: top left;
        }
        // for asset within elements, use the css definition like:
        // &.recent-facets-bt:before {
        //     content: url(./r2-ui/recent-facets-bt.png);
        // }
        // for asset as inner / bg, use the css definition like:
        // &.recent-facets-bt {
        //     background-image: url(./r2-ui/recent-facets-bt.png);
        // }
        &.circle {
            background-image: url(./r2-ui/circle.webp);
        }
        &.globe {
            background-image: url(./r2-ui/globe.webp);
        }
        &.login-arrow {
            background-image: url(./r2-ui/login-arrow.webp);
        }
        &.login {
            background-image: url(./r2-ui/login.webp);
        }
        &.close-x {
            background-image: url(./r2-ui/close-x.webp);
        }
        &.register-step-1-mail:before {
            content: url(./r2-ui/register-step-1-mail.png);
        }
        &.register-step-2:before {
            content: url(./r2-ui/register-step-2.png);
        }
        //
        &.recent,
        &.recent-facets {
            background-image: url(./r2-ui/recent.png);
        }
        &.facets {
            background-image: url(./r2-ui/facets.png);
        }
        &.recent-facets-bt:before {
            content: url(./r2-ui/recent-facets-bt.png);
        }
        &.recent-facets-bt-selected:before {
            content: url(./r2-ui/recent-facets-bt-selected.png);
        }
        &.facets-nav {
            background-image: url(./r2-ui/facets-nav.png);
        }
        //
        &.mywork-all-list {
            background-image: url(./r2-ui/mywork-all-list.webp);
        }
        &.mywork-ds-history {
            background-image: url(./r2-ui/mywork-ds-history.png);
        }
        &.mywork-box-sym {
            background-image: url(./r2-ui/mywork-box-sym.webp);
        }
        &.bt-create-dataset {
            background-image: url(./r2-ui/bt-create-dataset.webp);
        }
        &.bt-view-dataset {
            background-image: url(./r2-ui/bt-view-dataset.png);
        }
        &.box-back-bt {
            background-image: url(./r2-ui/bt-box-back.webp);
        }
        //
        &.inspector-nav {
            background-image: url(./r2-ui/inspector-nav.webp);
        }
        //
        &.isp-info {
            background-image: url(./r2-ui/isp-info.webp);
        }
        &.isp-uploads {
            background-image: url(./r2-ui/isp-uploads.webp);
        }
        &.isp-statistics {
            background-image: url(./r2-ui/isp-statistics.webp);
        }
        &.isp-files {
            background-image: url(./r2-ui/isp-files.webp);
        }
        &.isp-upload-start {
            background-image: url(./r2-ui/isp-upload-start.webp);
        }
        // main nav
        &.circ-bg {
            background-image: url(./r2-ui/main/circ-bg.webp);
        }
        &.circ-bg-sel {
            background-image: url(./r2-ui/main/circ-bg-sel.webp);
        }
        &.sym-circ {
            background-image: url(./r2-ui/main/sym-circ.webp);
        }
        &.sym-circ-sel {
            background-image: url(./r2-ui/main/sym-circ-sel.webp);
        }
        &.sym-diamond {
            background-image: url(./r2-ui/main/sym-diamond.webp);
        }
        &.sym-diamond-sel {
            background-image: url(./r2-ui/main/sym-diamond-sel.webp);
        }
    }
}
