.r2 {
    .boxes {
        .box {
            &.v2-main-nav {
                top: 8px;
                left: 240px;
                .element {
                    &.sp-h {
                        top: 4px;
                        height: 24px;
                        width: 1px;
                        &.sp-1-a {
                            left: -20px;
                            background-color: #555555;
                        }
                        &.sp-1-b {
                            left: -19px;
                            background-color: #acacac;
                        }
                        &.sp-2-a {
                            left: 183px;
                            background-color: #555555;
                        }
                        &.sp-2-b {
                            left: 182px;
                            background-color: #acacac;
                        }
                    }
                    &.info {
                        top: 1px;
                        color: #ffffff;
                        font-size: 14px;
                        width: 200px;
                        height: 30px;
                        line-height: 30px;
                    }

                    &.arrow {
                        top: 6px;
                        width: 0;
                        height: 0;
                        transform: scaleY(0.6);
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid white;
                    }

                    &.nav-item {
                        text-align: center;
                        &.left {
                            width: 65px;
                            height: 22px;
                            font-size: 12px;
                            line-height: 22px;
                            top: 4px;
                            border-radius: 7px;
                            //
                            background-color: #4d5261;
                            border: 1px solid #d5f8e8;
                            color: #d5f8e8;
                        }
                        &.right {
                            width: 80px;
                            height: 30px;
                            font-size: 14px;
                            line-height: 30px;
                            border-radius: 10px;
                            //
                            background-color: #656f7c;
                            border: 1px solid #b7dcff;
                            color: #e9e9e9;
                        }
                    }
                }
            }

            &.v2-landing-page {
                .view {
                    .scrollable {
                        top: 0px;
                        left: 0px;
                        width: calc(#{$centered-width} + 10px);
                        height: calc(100vh - 92px);
                        .content {
                            transform: scaleX(0.99);
                            .inner {
                                left: 0px;
                                top: 0px;
                                &.bg-img.v2-landing-page-scroll {
                                    width: calc(2266px / 2);
                                    height: calc(2825px / 2);
                                }
                            }
                        }
                        .scrollbar {
                            top: 0px;
                            height: calc(100% - 15px); // 15px because of mpdl logo
                            right: 22px;
                        }
                    }
                    .inner {
                        top: 10px;
                        left: 10px;
                        width: calc(100% - 20px);
                        transform: none;
                    }
                    .click-zones {
                        .click-zone {
                            left: 13px;
                            width: 754px;
                            height: 38px;
                            &.bt-search {
                                top: 220px;
                                left: 549px;
                                width: 228px;
                            }
                            &.show-ds-1 {
                                top: 280px;
                            }
                            &.show-ds-2 {
                                top: 444px;
                                height: 50px;
                            }
                            &.show-ds-3 {
                                top: 620px;
                                height: 35px;
                            }
                            &.show-ds-4 {
                                top: 767px;
                                height: 53px;
                            }
                            &.show-ds-5 {
                                top: 938px;
                                height: 38px;
                            }
                            &.show-ds-6 {
                                top: 1097px;
                                height: 53px;
                            }
                            &.show-ds-7 {
                                top: 1274px;
                                height: 37px;
                            }
                        }
                    }
                }
            }

            &.v2-search-page-facets-dn-inner {
                .v2-search-page-facets-dn-inner-box {
                    width: 322px;
                    height: calc(100vh - 464px);
                    top: 361px;
                    left: 800px;
                    border-radius: 8px;
                    background-color: #7b8594;
                }
                .view {
                    .scrollable {
                        top: 370px;
                        left: 810px;
                        height: calc(100vh - 483px);
                        width: 310px;
                        .scrollbar {
                            height: calc(100% - 4px);
                        }
                        .elements {
                            .v2-search-page-facets-dn-inner-list-1,
                            .v2-search-page-facets-dn-inner-list-2 {
                                left: 8px;
                                top: 4px;
                                width: calc(560px / 2);
                                height: calc(640px / 2);
                            }
                            .v2-search-page-facets-dn-inner-list-2 {
                                top: 324px;
                            }
                        }
                    }
                }
            }

            &.v2-search-page {
                .inner {
                    left: 0;
                    top: 0;
                    &.bg-img.v2-search-page {
                        width: calc(2267px / 2);
                        height: calc(1297px / 2);
                    }
                }
                .view {
                    .overlay {
                        .v2-search-page-pager-go-bt {
                            pointer-events: all;
                            width: calc(81px / 2);
                            height: calc(77px / 2);
                            top: calc(100vh - 90px);
                            left: 2px;
                        }
                        .v2-search-page-pager-left {
                            width: calc(628px / 2);
                            height: calc(75px / 2);
                            top: calc(100vh - 90px);
                            left: 40px;
                        }
                    }
                    .fixed {
                        .v2-search-page-search-bar-top {
                            width: calc(1542px / 2);
                            height: calc(93px / 2);
                            left: 1px;
                            top: 1px;
                        }
                        .v2-search-bar-top-with-pager {
                            width: calc(1542px / 2);
                            height: calc(93px / 2);
                            left: 1px;
                            top: 0px;
                        }
                        .sp {
                            width: 766px;
                            height: 1px;
                            left: 4px;
                            top: 54px;
                            border-top: 1px solid #ffffff8c;
                        }
                        .v2-search-page-facets-term {
                            // 687 × 93
                            width: calc(689px / 2);
                            height: calc(93px / 2);
                            top: 0px;
                            left: 789px;
                        }
                        .v2-search-page-facets-up {
                            width: calc(689px / 2);
                            height: calc(479px / 2);
                            top: 58px;
                            left: 789px;
                        }
                        .v2-search-page-facets-dn-head {
                            width: calc(616px / 2);
                            height: calc(50px / 2);
                            top: 323px;
                            left: 809px;
                        }
                        .v2-search-page-facets-dn-box {
                            width: calc(689px / 2);
                            height: calc(100vh - 405px);
                            top: 309px;
                            left: 789px;
                            border-radius: 8px;
                            background-color: #e5e8f5;
                        }
                    }
                    .scrollable {
                        top: 62px;
                        left: 0px;
                        height: calc(100vh - 88px - 65px);
                        width: 785px;
                        .content {
                            transform: scaleX(0.97);
                        }
                        .scrollbar {
                            right: 12px;
                            top: 0px;
                            height: calc(100% - 2px);
                        }
                        .inner {
                            left: 0px;
                            top: 0px;
                            &.bg-img.v2-search-page-scroll {
                                //1565 × 2317
                                width: calc(1565px / 2);
                                height: calc(2317px / 2);
                            }
                        }
                        .click-zones {
                            .click-zone {
                                left: 13px;
                                width: 754px;
                                height: 38px;
                                &.show-ds-1 {
                                    top: 15px;
                                }
                                &.show-ds-2 {
                                    top: 185px;
                                    height: 55px;
                                }
                                &.show-ds-3 {
                                    top: 365px;
                                    height: 35px;
                                }
                                &.show-ds-4 {
                                    top: 515px;
                                    height: 50px;
                                }
                                &.show-ds-5 {
                                    top: 685px;
                                    height: 45px;
                                }
                                &.show-ds-6 {
                                    top: 842px;
                                    height: 53px;
                                }
                                &.show-ds-7 {
                                    top: 1015px;
                                    height: 37px;
                                }
                            }
                        }
                    }
                }
            }

            &.v2-mywork-page {
                .view {
                    .overlay {
                        .v2-search-page-pager-go-bt {
                            pointer-events: all;
                            width: calc(81px / 2);
                            height: calc(77px / 2);
                            top: calc(100vh - 90px);
                            left: 2px;
                        }
                        .v2-search-page-pager-left {
                            width: calc(628px / 2);
                            height: calc(75px / 2);
                            top: calc(100vh - 90px);
                            left: 40px;
                        }
                    }
                    .fixed {
                        .v2-mywork-page-search-bar-top {
                            width: calc(1542px / 2);
                            height: calc(93px / 2);
                            left: 1px;
                            top: 1px;
                        }
                        .v2-search-bar-top-with-pager {
                            width: calc(1542px / 2);
                            height: calc(93px / 2);
                            left: 1px;
                            top: 0px;
                        }
                        .sp {
                            width: 766px;
                            height: 1px;
                            left: 4px;
                            top: 55px;
                            border-top: 1px solid #ffffff8c;
                        }
                        .v2-mywork-page-facets-term {
                            // 687 × 93
                            width: calc(689px / 2);
                            height: calc(93px / 2);
                            top: 0px;
                            left: 789px;
                        }
                        .v2-mywork-page-facets-up {
                            // 689 × 536
                            width: calc(689px / 2);
                            height: calc(536px / 2);
                            top: 58px;
                            left: 789px;
                        }
                    }

                    .scrollable {
                        top: 62px;
                        left: 0px;
                        height: calc(100vh - 88px - 65px);
                        width: 785px;
                        .content {
                            transform: scaleX(0.97);
                        }
                        .scrollbar {
                            right: 12px;
                            top: 0px;
                            height: calc(100% - 2px);
                        }
                        .inner {
                            left: 0px;
                            top: 0px;
                            &.bg-img.v2-mywork-page-scroll {
                                //1565 × 2317
                                width: calc(1565px / 2);
                                height: calc(2317px / 2);
                            }
                        }

                        .click-zones {
                            .click-zone {
                                left: 13px;
                                width: 754px;
                                height: 38px;
                                &.show-ds-1 {
                                    top: 15px;
                                }
                                &.show-ds-2 {
                                    top: 185px;
                                    height: 55px;
                                }
                                &.show-ds-3 {
                                    top: 365px;
                                    height: 35px;
                                }
                                &.show-ds-4 {
                                    top: 515px;
                                    height: 50px;
                                }
                                &.show-ds-5 {
                                    top: 685px;
                                    height: 45px;
                                }
                                &.show-ds-6 {
                                    top: 842px;
                                    height: 53px;
                                }
                                &.show-ds-7 {
                                    top: 1015px;
                                    height: 37px;
                                }
                            }
                        }
                    }
                }
            }

            &.v2-dataset-view-public {
                .view {
                    .scrollable {
                        top: 0px;
                        left: 0px;
                        height: calc(100vh - 90px);
                        width: calc(#{$centered-width} + 10px);
                        .content {
                            top: 2px;
                            transform: scaleX(0.988);
                        }
                        .scrollbar {
                            top: -1px;
                            height: calc(100% - 16px);
                            right: 22px;
                        }
                        .elements {
                            .v2-dataset-view-public-content {
                                width: calc(1695px / 2);
                                height: calc(2257px / 2);
                            }
                            .v2-dataset-view-public-infos {
                                left: 860px;
                                width: calc(549px / 2);
                                height: calc(1192px / 2);
                            }
                        }
                        .click-zones {
                            .click-zone {
                                &.show-filelist-1 {
                                    left: 648px;
                                    width: 170px;
                                    height: 115px;
                                    top: 720px;
                                }
                                &.show-filelist-2 {
                                    left: 66px;
                                    width: 187px;
                                    height: 28px;
                                    top: 849px;
                                }
                                &.download-all {
                                    left: 292px;
                                    width: 144px;
                                    height: 28px;
                                    top: 642px;
                                }
                            }
                        }
                    }
                }
            }

            &.v2-dataset-view-private-content {
                --width: calc(1695px / 2);
                .view {
                    &.v2-dataset-view-private-content {
                        .scrollable {
                            top: 0px;
                            left: 0px;
                            width: calc(var(--width) + 10px);
                            height: calc(100vh - 90px);
                            .content {
                                transform: scaleX(0.98);
                                .inner {
                                    left: 0px;
                                    top: 0px;
                                    &.bg-img.v2-dataset-view-private-content-scroll {
                                        width: var(--width);
                                        height: calc(2257px / 2);
                                    }
                                }
                            }
                            .scrollbar {
                                right: 8px;
                                top: -1px;
                                height: calc(100% - 0px);
                            }
                            .click-zones {
                                .click-zone {
                                    &.show-filelist-1 {
                                        left: 648px;
                                        width: 170px;
                                        height: 115px;
                                        top: 720px;
                                    }
                                    &.show-filelist-2 {
                                        left: 66px;
                                        width: 187px;
                                        height: 28px;
                                        top: 849px;
                                    }
                                    &.download-all {
                                        left: 292px;
                                        width: 144px;
                                        height: 28px;
                                        top: 642px;
                                    }
                                }
                            }
                        }
                    }
                    &.v2-dataset-view-private-init-content {
                        .scrollable {
                            top: 0px;
                            left: 0px;
                            width: calc(var(--width) + 10px);
                            height: calc(100vh - 90px);
                            .content {
                                transform: scaleX(0.98);
                                .inner {
                                    left: 0px;
                                    top: 0px;
                                    &.bg-img.v2-dataset-view-private-init-content-scroll {
                                        width: var(--width);
                                        height: calc(2257px / 2);
                                    }
                                }
                            }
                            .scrollbar {
                                right: 8px;
                                top: -1px;
                                height: calc(100% - 0px);
                            }
                            .click-zones {
                                .click-zone {
                                    &.show-filelist-1 {
                                        left: 648px;
                                        width: 170px;
                                        height: 115px;
                                        top: 720px;
                                    }
                                    &.show-filelist-2 {
                                        left: 66px;
                                        width: 187px;
                                        height: 28px;
                                        top: 849px;
                                    }
                                    &.download-all {
                                        left: 292px;
                                        width: 144px;
                                        height: 28px;
                                        top: 642px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.v2-dataset-view-private-infos {
                left: calc(calc(1695px / 2) + 7px + 10px);
                --width: calc(549px / 2);
                .view {
                    &.v2-dataset-view-private-infos,
                    &.v2-dataset-view-private-init-infos {
                        .scrollable {
                            top: 70px;
                            left: 0px;
                            width: calc(var(--width) + 10px);
                            height: calc(100vh - 160px);
                            .content {
                                transform: scaleX(0.95);
                                .inner {
                                    left: 0px;
                                    top: 0px;
                                    &.bg-img.v2-dataset-view-private-infos-scroll {
                                        width: var(--width);
                                        height: calc(2070px / 2);
                                    }
                                    &.bg-img.v2-dataset-view-private-init-infos-scroll {
                                        width: var(--width);
                                        height: calc(1325px / 2);
                                    }
                                }
                            }
                            .scrollbar {
                                top: -1px;
                                right: 4px;
                                height: calc(100% - 18px);
                            }
                        }
                    }
                }
            }

            &.v2-file-list {
                .view {
                    &.file-list-collection-closed,
                    &.file-list-collection-open {
                        .fixed {
                            .v2-file-view-download {
                                width: calc(548px / 2);
                                height: calc(167px / 2); // 167 222px
                                top: 0px;
                                left: 860px;
                            }
                            .v2-file-view-facets-top {
                                width: calc(548px / 2);
                                height: calc(480px / 2);
                                top: 92px;
                                left: 860px;
                            }
                            .v2-file-view-headline {
                                width: calc(1694px / 2);
                                height: calc(222px / 2);
                            }
                            .v2-file-view-pager {
                                width: calc(1694px / 2);
                                height: calc(126px / 2);
                                top: 118px;
                            }
                            .sp {
                                width: 847px;
                                height: 1px;
                                top: 188px;
                                border-top: 1px solid #ffffff8c;
                            }
                        }
                        .click-zones {
                            .click-zone {
                                &.download-all {
                                    left: 971px;
                                    width: 47px;
                                    height: 43px;
                                    top: 12px;
                                }
                            }
                        }
                        .scrollable {
                            height: calc(100vh - 288px);
                            width: calc(1688px / 2 + 10px);
                            top: 196px;
                            left: 0px;
                            .content {
                                transform: scaleX(0.98);
                            }
                            .scrollbar {
                                right: 5px;
                                top: -1px;
                                height: calc(100% - 0px);
                            }
                            .elements {
                                .v2-file-view-list-collection-closed {
                                    width: calc(1688px / 2);
                                    height: calc(1195px / 2);
                                }
                                .v2-file-view-list-collection-open {
                                    width: calc(1688px / 2);
                                    height: calc(2368px / 2);
                                }
                            }
                            .click-zones {
                                .click-zone {
                                    &.open-file-collection,
                                    &.close-file-collection {
                                        width: 750px;
                                        height: 50px;
                                        left: 50px;
                                        top: 140px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.v2-head-controls {
                top: 8px;
                left: 1109px;
                .fixed {
                    .v2-head-crtl-bt-close {
                        width: 30px;
                        height: 30px;
                        left: 0px;
                    }
                    .v2-head-crtl-bt-open-in-tab {
                        width: 30px;
                        height: 30px;
                        left: -35px;
                    }
                    .v2-head-crtl-sharing-bar {
                        top: -8px;
                        width: 167px;
                        height: 48px;
                        left: -200px;
                    }
                }

                .view {
                    &.v2-head-controls-edit,
                    &.v2-head-controls-new-dataset-only,
                    &.v2-head-controls-edit-actions-active {
                        .v2-head-crtl-bt-actions,
                        .v2-head-crtl-bt-actions-active {
                            top: -1px;
                            width: 34px;
                            height: 34px;
                            left: -56px;
                        }

                        .v2-head-crtl-bt-new-dataset {
                            top: -1px;
                            width: 34px;
                            height: 34px;
                        }
                        .v2-head-crtl-label-new-dataset {
                            top: 10px;
                            width: 141px;
                            height: 34px;
                            right: -19px;
                            font-size: 13px;
                        }

                        .v2-head-crtl-bt-edit {
                            top: -1px;
                            width: 34px;
                            height: 34px;
                            left: -96px;
                        }

                        .v2-head-crtl-sym-upload {
                            top: 0px;
                            width: 58px;
                            height: 33px;
                            left: -179px;
                        }

                        .v2-head-crtl-sep-1,
                        .v2-head-crtl-sep-2 {
                            top: 0px;
                            width: 4px;
                            height: 30px;
                            left: -12px;
                            background-color: #98afd3f0;
                        }
                        .v2-head-crtl-sep-2 {
                            left: -110px;
                        }

                        .v2-upload-info {
                            top: 8px;
                            right: 85px;
                            width: 200px;
                            font-size: 13px;
                        }
                    }
                }
            }

            // actions and messages

            &.v2-dataset-controls {
                left: 865px;
                .view {
                    .elements {
                        .v2-dataset-view-private-controls-bg {
                            .bg-img {
                                background-color: #acbeda;
                                background-color: #697f9e;
                                border: 1px solid white;
                                border-radius: 8px;
                                width: 276px;
                                height: 59px;
                            }
                        }

                        .v2-head-crtl-bt-actions,
                        .v2-head-crtl-bt-actions-active {
                            top: 13px;
                            left: 233px;
                            width: 34px;
                            height: 34px;
                        }
                        .v2-head-crtl-bt-edit,
                        .v2-head-crtl-bt-edit-active {
                            top: 13px;
                            left: 194px;
                            width: 34px;
                            height: 34px;
                        }
                        .v2-head-crtl-sym-upload {
                            top: 14px;
                            width: 58px;
                            height: 33px;
                            left: 119px;
                        }

                        .element {
                            &.sp-h {
                                top: 20px;
                                height: 20px;
                                width: 1px;
                                &.sp-1-a {
                                    left: 184px;
                                    background-color: #555555;
                                }
                                &.sp-1-b {
                                    left: 185px;
                                    background-color: #cdcdcd;
                                }
                            }
                        }
                        .v2-upload-info {
                            top: 23px;
                            left: 13px;
                            width: 110px;
                            font-size: 13px;
                            pointer-events: none;
                            color: #e6e6e6;
                        }
                    }
                }
            }

            &.v2-dataset-actions {
                left: 0px;
                top: 126px;
                .view {
                    .v2-dataset-actions-publish {
                        top: 0px;
                        left: 865px;
                        width: calc(548px / 2);
                        height: calc(1084px / 2);
                    }
                    .click-zones {
                        .click-zone {
                            &.v2-dataset-actions-close {
                                top: 490px;
                                left: 1048px;
                                width: 81px;
                                height: 30px;
                            }
                        }
                    }
                }
            }

            &.v2-messages {
                left: 0px;
                .view {
                    .msg-large-dataset {
                        top: 88px;
                        left: 317px;
                        width: calc(1035px / 2);
                        height: calc(428px / 2);
                    }
                    .click-zones {
                        .click-zone {
                            &.confirm {
                                top: 255px;
                                left: 653px;
                                width: 170px;
                                height: 30px;
                            }
                            &.cancel {
                                top: 255px;
                                left: 578px;
                                width: 66px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
