@import 'css/r2-assets.scss';
@import 'css/r2-boxes-v1.scss';
@import 'css/r2-boxes-v2.scss';

.r2 {
    .click-zone {
        // background-color: rgba(255, 0, 0, 0.2); // COLOR TEST ON OFF
    }
    .no-events {
        pointer-events: none;
        cursor: none;
    }
    .sub-bar {
        position: absolute;
        width: 100vw;
        height: 30px;
        top: calc(100vh - 30px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        .path {
            margin-top: 5px;
            margin-left: 10px;
            color: white;
            width: 50vw;
        }
        .logo {
            position: absolute;
            width: 140px;
            height: 45px;
            right: -10px;
            bottom: 0px;
            background-color: #f9f9f1;
            border-radius: 10px 0 0 0;
            border: 1px solid #bebebe;
            z-index: 100000;
            .image {
                position: absolute;
                $url: './assets/mpdl-logo.png';
                background-image: url($url);
                background-repeat: no-repeat;
                background-size: contain;
                width: 120px;
                height: 60px;
                margin: 5px;
            }
        }
        .legal {
            position: absolute;
            bottom: -15px;
            right: 145px;
            height: 40px;
            color: white;
            a {
                color: white;
            }
        }
    }

    .boxes {
        position: absolute;
        top: 100px;
        &.cage {
            position: absolute;
            top: 50px;
            left: 5px;
            width: 1200px;
            height: 540px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: unset;
            background-color: unset;
            z-index: 100;
        }
        .box {
            position: absolute;
            top: 50px;
            left: 5px;
            width: 200px;
            height: 200px;
            border-radius: 10px;
            // background-size: cover;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            &.no-events {
                pointer-events: none;
            }
            &.bg-dark {
                border: 1px solid rgba(0, 0, 0, 0.3);
                background-color: rgba(0, 0, 0, 0.3);
            }
            .inner {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .box-close {
                position: absolute;
                width: 25px;
                height: 25px;
                top: -10px;
                right: -10px;
                background-color: #475265;
                border: 1px solid white;
                border-radius: 50%;
                cursor: pointer;
                .inner {
                    transform: scale(0.7) !important;
                }
            }
            .box-menu-divider {
                top: 8px;
                right: 20px;
                width: 4px;
                height: 28px;
                background-color: #b4d3ff3b;
            }
            .view {
                position: absolute;
                opacity: 0;
                &.no-events {
                    pointer-events: none;
                }
                .fixed {
                    // position: absolute;
                }
                .scrollable {
                    position: relative;
                    // height: 0px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    top: 60px;
                    left: 10px;
                    .content {
                        // width: 200px;
                        // height: 1000px;
                        // background-color: gray;
                        // border: 1px solid black;
                    }
                }

                .overlay {
                    position: absolute;
                    pointer-events: none;
                    top: 0px;
                    left: 0px;
                    .elements {
                        .element {
                            position: absolute;
                            pointer-events: none;
                            .bg-img {
                                top: unset;
                                left: unset;
                            }
                        }
                    }
                }

                .scale {
                    // transform-origin: center center;
                    &.t-l {
                        transform-origin: top left;
                    }
                    &.t-r {
                        transform-origin: top right;
                    }
                    &.x72 {
                        transform: scale(0.72);
                    }
                    &.x50 {
                        transform: scale(0.5);
                    }
                    &.x45 {
                        transform: scale(0.45);
                    }
                    &.x40 {
                        transform: scale(0.4);
                    }
                }

                // .elements,
                // .scrollable .elements,
                // .overlay .elements {

                .elements {
                    position: absolute;
                    top: 0;
                    left: 0;
                    .element {
                        position: absolute;
                        &.clickable {
                            cursor: pointer;
                        }
                    }
                }

                .click-zone {
                    position: absolute;
                    cursor: pointer;
                }

                .text {
                    font-size: 15px;
                    font-family: 'Arial', sans-serif;
                    color: white;
                }
                .headline {
                    font-size: 17px;
                    font-family: 'Roboto', sans-serif;
                    color: white;
                    top: 10px;
                    left: 20px;
                }
                .head-seperator {
                    top: 45px;
                    left: 20px;
                    div {
                        height: 1px;
                        border: 1px solid rgba(255, 255, 255, 0.591);
                        width: 200px;
                    }
                }

                .button {
                    width: max-content;
                    height: 28px;
                    border-radius: 5px;
                    background-color: #d8d8d8;
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    color: #303030;
                    padding: 2px 15px 2px 15px;
                    cursor: pointer;
                    &.bt-ok {
                        background-color: #9ef5c8;
                    }
                }
            }
        }
    }
}
