.r2 {
    .boxes {
        .box {
            &.mock-config {
                top: 0px;
                left: 0px;
                .click-zones {
                    .click-zone {
                        &.toggle-mock-config-menu-state {
                            left: 0px;
                            top: 0px;
                            width: 200px;
                            height: 40px;
                        }
                    }
                }
                .components {
                    .config-menu {
                        &.hidden {
                            visibility: hidden;
                        }
                        position: absolute;
                        z-index: 1;
                        left: 5px;
                        top: 5px;
                        width: 220px;
                        height: 125px;
                        background-color: #6e8394;
                        overflow: hidden;
                        border: 1px solid white;
                        border-radius: 5px;
                        .form-container {
                            left: 5px;
                            top: 5px;
                            width: 200px;
                            height: 40px;
                            margin: 10px;
                            color: white;
                            .close-button {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                width: 15px;
                                height: 15px;
                                text-align: center;
                                font-size: 14px;
                                line-height: 13px;
                                background-color: #4c5262;
                                cursor: pointer;
                                border: 1px solid #dcdfe6;
                                border-radius: 100%;
                                color: #bde6d7;
                            }
                            .index-group {
                                margin-top: -2px;
                                .radio-cage {
                                    background-color: white;
                                    border: 1px solid #5f6e95;
                                    border-radius: 5px;
                                    padding: 5px;
                                }
                                .label {
                                    margin-bottom: 4px;
                                }
                                .form-element {
                                    margin-bottom: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
