.r2 {
    .boxes {
        .box {
            &.search-page {
                .inner {
                    left: 0;
                    top: 0;
                    &.bg-img.search-page {
                        width: calc(2267px / 2);
                        height: calc(1297px / 2);
                    }
                }
                .view {
                    .overlay {
                        pointer-events: all;
                        .search-page-pager-go-bt {
                            pointer-events: all;
                            width: calc(81px / 2);
                            height: calc(77px / 2);
                            top: calc(100vh - 90px);
                            left: 2px;
                        }
                        .search-page-pager-left {
                            width: calc(628px / 2);
                            height: calc(75px / 2);
                            top: calc(100vh - 90px);
                            left: 40px;
                        }
                        .components {
                            .search-box {
                                position: absolute;
                                top: 0px;
                                left: 789px;
                                width: 343px;
                                height: 46px;
                                background-color: white;
                                border: 1px solid #b5c0d1;
                                border-radius: 5px;
                                .form-container.search-input {
                                    position: absolute;
                                    left: 5px;
                                    top: 7px;
                                    .index-group {
                                        display: flex;
                                        .fire-search-button {
                                            cursor: pointer;
                                            width: 33px;
                                            height: 30px;
                                            border-radius: 0 4px 4px 0;
                                            border: 1px solid #7e97a9;
                                            border-left: none;
                                            background-repeat: no-repeat;
                                            background-image: url(./../r2-ui/icons/search.png);
                                            background-size: 22px;
                                            background-position: center;
                                        }
                                        .input-container {
                                            width: 295px;
                                        }
                                        .search-term-input {
                                            margin-left: 5px;
                                            .el-input__inner {
                                                border-radius: 4px 0 0 4px;
                                                border: 1px solid #798fa0;
                                                height: 32px;
                                            }
                                        }
                                    }
                                }
                            }
                            .search-header-cover {
                                position: absolute;
                                top: 0px;
                                left: 420px;
                                width: 350px;
                                height: 46px;
                                background-color: #f9f9f9;
                                // border: 1px solid #6c757e;
                                border-radius: 5px;
                            }
                            .search-header {
                                position: absolute;
                                top: 6px;
                                .content-cell {
                                    display: flex;
                                    width: 765px;
                                    justify-content: space-between;
                                    .cell-element.pager {
                                        width: 300px;
                                        height: 30px;
                                        // background-color: rgb(189, 162, 162);
                                        // opacity: 0.3;
                                    }
                                }

                                .form-container.sort-properties {
                                    .index-group {
                                        display: flex;
                                        .input-cell {
                                            margin-top: 2px;
                                            .el-input__inner {
                                                border: 1px solid #798fa0;
                                                height: 30px;
                                            }
                                            &.sort-by {
                                                width: 153px;
                                            }
                                            &.order-by {
                                                width: 85px;
                                            }
                                        }
                                        .spc-1 {
                                            width: 1px;
                                            height: 25px;
                                            border-left: 1px solid #728490;
                                            margin-left: 10px;
                                            margin-right: 8px;
                                            margin-top: 4px;
                                        }
                                        .label {
                                            width: max-content;
                                            margin-right: 7px;
                                            line-height: 35px;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                            .preloader-content-list {
                                // take from scrollable
                                position: absolute;
                                top: 62px;
                                left: 0px;
                                width: 0px;
                                height: 0px;
                                .preloader {
                                    height: calc(100vh - 88px - 65px);
                                    width: 785px;
                                    &.native {
                                        width: 774px;
                                    }
                                }
                           
                            }
                        }
                    }
                    .fixed {
                        .search-page-search-bar-top {
                            width: calc(1542px / 2);
                            height: calc(93px / 2);
                            left: 1px;
                            top: 1px;
                        }
                        .search-bar-top-with-pager {
                            width: calc(1542px / 2);
                            height: calc(93px / 2);
                            left: 1px;
                            top: 0px;
                        }
                        .sp {
                            width: 766px;
                            height: 1px;
                            left: 4px;
                            top: 54px;
                            border-top: 1px solid #ffffff8c;
                        }
                        .search-page-facets-term {
                            // 687 × 93
                            width: calc(689px / 2);
                            height: calc(93px / 2);
                            top: 0px;
                            left: 789px;
                        }
                        .search-page-facets-up {
                            width: calc(689px / 2);
                            height: calc(479px / 2);
                            top: 58px;
                            left: 789px;
                        }
                        .search-page-facets-dn-head {
                            width: calc(616px / 2);
                            height: calc(50px / 2);
                            top: 323px;
                            left: 809px;
                        }
                        .search-page-facets-dn-box {
                            width: calc(689px / 2);
                            height: calc(100vh - 405px);
                            top: 309px;
                            left: 789px;
                            border-radius: 8px;
                            background-color: #e5e8f5;
                        }
                    }
                    .scrollbar {
                        left: 758px;
                        top: 61px;
                        height: calc(100vh - 152px);
                    }
                    .scrollable {
                        top: 62px;
                        left: 0px;
                        height: calc(100vh - 88px - 65px);
                        width: 785px;
                        &.native {
                            width: 774px;
                        }
                        .components {
                            .component.my-datasets {
                                width: calc(1565px / 3);
                            }
                            .content-list {
                                margin-left: 5px;
                                width: 755px;
                            }
                        }
                    }
                }
            }
        }
    }
}
